- title "Login"

= simple_form_for :user, :url => {:controller => 'sessions', :action => 'create'}, :html => {:id => 'login'} do |f|
  = f.input :nds, :required => false
  = f.input :password, :required => false
  = f.submit "Login"

