/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container #flash_notice, body #container #flash_error, body #container #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
/* line 8, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container #flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
/* line 12, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container #flash_error, body #container #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
/* line 16, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container .fieldWithErrors {
  display: inline;
}
/* line 19, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container .error_messages,
body #container #error_explanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 0.8em;
}
/* line 28, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container .error_messages h2,
body #container #error_explanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #cc0000;
  color: white;
}
/* line 36, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container .error_messages p,
body #container #error_explanation p {
  margin: 8px 10px;
}
/* line 38, ../../../app/stylesheets/partials/_flash_errors.sass */
body #container .error_messages ul,
body #container #error_explanation ul {
  margin: 0;
}

/* line 2, ../../../app/stylesheets/partials/_simple_form.sass */
.simple_form div.input {
  margin-bottom: 10px;
}
/* line 4, ../../../app/stylesheets/partials/_simple_form.sass */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 10, ../../../app/stylesheets/partials/_simple_form.sass */
div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 13, ../../../app/stylesheets/partials/_simple_form.sass */
div.boolean label {
  float: none;
  margin: 0;
}

/* line 17, ../../../app/stylesheets/partials/_simple_form.sass */
label.collection_radio {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 24, ../../../app/stylesheets/partials/_simple_form.sass */
.field_with_errors {
  background-color: #ff3333;
}

/* line 28, ../../../app/stylesheets/partials/_simple_form.sass */
.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
  font-size: 12px;
}
/* line 34, ../../../app/stylesheets/partials/_simple_form.sass */
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555555;
  display: block;
  font-style: italic;
}

/* line 43, ../../../app/stylesheets/partials/_simple_form.sass */
input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}
/* line 46, ../../../app/stylesheets/partials/_simple_form.sass */
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

/* line 50, ../../../app/stylesheets/partials/_simple_form.sass */
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}

/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 9, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 26, ../../../app/stylesheets/screen.sass */
body {
  background-color: #acb4c1;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
/* line 31, ../../../app/stylesheets/screen.sass */
body #header {
  background-color: #a5c6f2;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}
/* line 38, ../../../app/stylesheets/screen.sass */
body #header #banner {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/dummyimage_990x30.png?1291745694');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 990px;
  height: 30px;
  margin: 0 auto;
}
/* line 44, ../../../app/stylesheets/screen.sass */
body #header #user_nav,
body #header #admin_nav {
  font-size: 0.8em;
  background-color: black;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-right: 35px;
  color: white;
}
/* line 46, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul,
body #header #admin_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  width: 950px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li,
body #header #admin_nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li:first-child, body #header #user_nav ul li.first,
body #header #admin_nav ul li:first-child,
body #header #admin_nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li:last-child, body #header #user_nav ul li.last,
body #header #admin_nav ul li:last-child,
body #header #admin_nav ul li.last {
  padding-right: 0;
}
/* line 53, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul #logo,
body #header #admin_nav ul #logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/logo30.png?1289961036');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
}
/* line 61, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li,
body #header #admin_nav ul li {
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 66, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li a,
body #header #admin_nav ul li a {
  padding: 3px 6px;
  color: white;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 11px;
}
/* line 75, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li a:hover,
body #header #admin_nav ul li a:hover {
  background-color: black;
  border-color: white;
}
/* line 88, ../../../app/stylesheets/screen.sass */
body #header #user_nav #language_switcher,
body #header #admin_nav #language_switcher {
  float: right;
  font-size: 50%;
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 95, ../../../app/stylesheets/screen.sass */
body #header #user_nav #language_switcher a,
body #header #admin_nav #language_switcher a {
  padding: 3px 6px;
  color: white;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 11px;
}
/* line 104, ../../../app/stylesheets/screen.sass */
body #header #user_nav #language_switcher a:hover,
body #header #admin_nav #language_switcher a:hover {
  background-color: black;
  border-color: white;
}
/* line 108, ../../../app/stylesheets/screen.sass */
body #header #admin_nav {
  background-color: #650021;
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 112, ../../../app/stylesheets/screen.sass */
body #header #admin_nav ul li a {
  border-color: #650021;
}
/* line 115, ../../../app/stylesheets/screen.sass */
body #header #admin_nav ul li a:hover {
  background-color: #650021;
  border-color: white;
}
/* line 123, ../../../app/stylesheets/screen.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: white;
  border-style: none;
}
/* line 135, ../../../app/stylesheets/screen.sass */
body #container ul {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
body #container ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 137, ../../../app/stylesheets/screen.sass */
body #container .controls, body #container .horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li, body #container .horizontal li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:first-child, body #container .controls li.first, body #container .horizontal li:first-child, body #container .horizontal li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:last-child, body #container .controls li.last, body #container .horizontal li:last-child, body #container .horizontal li.last {
  padding-right: 0;
}
/* line 140, ../../../app/stylesheets/screen.sass */
body #container i {
  color: #c5c9c7;
  font-size: 0.7em;
}
/* line 144, ../../../app/stylesheets/screen.sass */
body #container #sheets {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #sheets {
  overflow-x: hidden;
}
/* line 146, ../../../app/stylesheets/screen.sass */
body #container #sheets .sheet {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #999999;
  border-width: 1px;
  border-radius: 1px;
  border-bottom-width: 2px;
}
/* line 161, ../../../app/stylesheets/screen.sass */
body #container #sheets .sheet p {
  margin-bottom: 5px;
}
/* line 165, ../../../app/stylesheets/screen.sass */
body #container #sheets .sheet .horizontal {
  width: 710px;
  float: left;
}
/* line 168, ../../../app/stylesheets/screen.sass */
body #container #sheets .sheet .controls {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #sheets .sheet .controls li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #sheets .sheet .controls li:first-child, body #container #sheets .sheet .controls li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #sheets .sheet .controls li:last-child, body #container #sheets .sheet .controls li.last {
  padding-right: 0;
}
/* line 175, ../../../app/stylesheets/screen.sass */
body #container #sheets_search input.string {
  width: 18em;
}
/* line 177, ../../../app/stylesheets/screen.sass */
body #container #sheets_search label {
  width: 170px;
  font-size: 80%;
}
/* line 180, ../../../app/stylesheets/screen.sass */
body #container #sheets_search div.input {
  margin-bottom: 2px;
}
/* line 182, ../../../app/stylesheets/screen.sass */
body #container #sheets_search .no_label {
  padding-left: 170px;
}
/* line 185, ../../../app/stylesheets/screen.sass */
body #container #sheets_search #left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: black;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #sheets_search #left {
  overflow-x: hidden;
}
/* line 191, ../../../app/stylesheets/screen.sass */
body #container #sheets_search #right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #sheets_search #right {
  overflow-x: hidden;
}
/* line 193, ../../../app/stylesheets/screen.sass */
body #container #sheets_search #full {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  margin-top: 10px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p136@feedback/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #sheets_search #full {
  overflow-x: hidden;
}
/* line 198, ../../../app/stylesheets/screen.sass */
body #container #users .small {
  font-size: 80%;
}
/* line 200, ../../../app/stylesheets/screen.sass */
body #container #users .tiny {
  font-size: 60%;
}
/* line 203, ../../../app/stylesheets/screen.sass */
body #container #login {
  padding-top: 20px;
  padding-left: 10px;
}
/* line 207, ../../../app/stylesheets/screen.sass */
body #container #login .input {
  margin-bottom: 5px;
}
/* line 213, ../../../app/stylesheets/screen.sass */
body #container .simple_form label {
  width: 250px;
}
/* line 215, ../../../app/stylesheets/screen.sass */
body #container .simple_form .no_label {
  padding-left: 300px;
}
/* line 217, ../../../app/stylesheets/screen.sass */
body #container .simple_form .address {
  margin-left: 30px;
}
