- title "Sheet"

%ul
  %li=@sheet.semester.long_text
  %li=@sheet.company
  %ul.address
    %li=@sheet.application_address.street
    %li=@sheet.application_address.city
    %li=@sheet.application_address.post_code
    %li=@sheet.application_address.country
  %ul.address
    %li=@sheet.job_site_address.street
    %li=@sheet.job_site_address.city
    %li=@sheet.job_site_address.post_code
    %li=@sheet.job_site_address.country
  %li
    Department
    =@sheet.department
  %li
    Boss
    =@sheet.boss
  %li
    Handler
    =@sheet.handler
  %li
    %p=@sheet.note_company
  %br
  %li
    Internship Length
    =@sheet.internship_length
  %li
    Extendable possible?
    =@sheet.extendable
  %li
    Vacation possible?
    =@sheet.vacation
  %li
    Release possible?
    =@sheet.release
  %li
    Working Hours:
    =@sheet.working_hours
  %li
    -if @sheet.flextime?
      Flextime
    -else
      Fixedtime
  %li
    Salary:
    =@sheet.salary
  %li
    Required Languages
    =@sheet.required_languages
  %li
    Reachability
    =@sheet.reachability
  %li
    Accessability
    =@sheet.accessability
  %li
    %p=@sheet.note_conditions
  %br
  %li
    Percentage of Women:
    =@sheet.percentage_of_women
  %li
    Working Atmosphere
    =@sheet.working_atmosphere
  %li
    Satisfaction with Support
    =@sheet.satisfaction_with_support
  %li
    Stress Factor
    =@sheet.stress_factor
  %li
    Apartment Market
    =@sheet.apartment_market
  %li
    Satisfaction with Internship
    =@sheet.satisfaction_with_internship
  %li
    %p=@sheet.note_personal_impression
  %br
  %li
    -if @sheet.big_project?
      Big Project
    -else
      Small Projects
  %li
    Teamsize:
    =@sheet.teamsize
  %li
    Independent Work
    =@sheet.independent_work
  %li
    Reference to the Study
    =@sheet.reference_to_the_study
  %li
    Learning Effect
    =@sheet.learning_effect
  %li
    Required previous knowledge
    =@sheet.required_previous_knowledge
  %br
  %li
    %p=@sheet.note_project
  %li
    %p=@sheet.note_general



%ul.controls
  - if can? :update, @sheet
    %li= link_to "Edit", edit_sheet_path(@sheet)
  - if can? :destroy, @sheet
    %li= link_to "Destroy", @sheet, :confirm => 'Are you sure?', :method => :delete
  %li= link_to "View All", sheets_path

