- title "Sheet"

%ul#sheet
  %li=@sheet.semester.long_text
  %li=@sheet.company
  %li
    %strong
      Application Address
    %ul.address
      %li=@sheet.application_address.street
      %li
        =@sheet.application_address.post_code
        =@sheet.application_address.city
      %li=@sheet.application_address.country
  %li
    %strong
      Job Site Address
  %ul.address
    %li=@sheet.job_site_address.street
    %li
      =@sheet.job_site_address.post_code
      =@sheet.job_site_address.city
    %li=@sheet.job_site_address.country
  %li
    %strong
      Department:
    =@sheet.department
  %li
    %strong
      Boss:
    =@sheet.boss
  %li
    %strong
      Handler:
    =@sheet.handler
  %li
    %p=@sheet.note_company
  %br
  %li
    %strong
      Internship Length:
    =@sheet.internship_length
  %li
    %strong
      Extendable possible?
    =@sheet.extendable
  %li
    %strong
      Vacation possible?
    =@sheet.vacation
  %li
    %strong
      Release possible?
    =@sheet.release
  %li
    %strong
      Working Hours:
    =@sheet.working_hours
  %li
    -if @sheet.flextime?
      Flextime
    -else
      Fixedtime
  %li
    %strong
      Salary:
    =@sheet.salary
  %li
    %strong
      Required Languages:
    =@sheet.required_languages
  %li
    %strong
      Reachability:
    =@sheet.reachability
  %li
    %strong
      Accessability:
    =@sheet.accessability
  %li
    %p=@sheet.note_conditions
  %br
  %li
    %strong
      Percentage of Women:
    =@sheet.percentage_of_women
  %li
    %strong
      Working Atmosphere:
    =@sheet.working_atmosphere
  %li
    %strong
      Satisfaction with Support:
    =@sheet.satisfaction_with_support
  %li
    %strong
      Stress Factor:
    =@sheet.stress_factor
  %li
    %strong
      Apartment Market:
    =@sheet.apartment_market
  %li
    %strong
      Satisfaction with Internship:
    =@sheet.satisfaction_with_internship
  %li
    %p=@sheet.note_personal_impression
  %br
  %li
    -if @sheet.big_project?
      Big Project
    -else
      Small Projects
  %li
    %strong
      Teamsize:
    =@sheet.teamsize
  %li
    %strong
      Independent Work:
    =@sheet.independent_work
  %li
    %strong
      Reference to the Study:
    =@sheet.reference_to_the_study
  %li
    %strong
      Learning Effect:
    =@sheet.learning_effect
  %li
    %strong
      Required previous knowledge:
    =@sheet.required_previous_knowledge
  %br
  %li
    %p=@sheet.note_project
  %li
    %p=@sheet.note_general



%ul.controls
  - if can? :update, @sheet
    %li= link_to "Edit", edit_sheet_path(@sheet)
  - if can? :destroy, @sheet
    %li= link_to "Destroy", @sheet, :confirm => 'Are you sure?', :method => :delete
  %li= link_to "View All", sheets_path

