- title t('.title')

= simple_form_for @semester, :url => admin_semester_path(@semester) do |ff|
  = render :partial => 'form', :locals => {:f => ff}

%p
  = link_to t('.show'), admin_semester_path(@semesters)
  |
  = link_to t('.viewall'), admin_semesters_path

