- title @semester.long_text
%ul.semester
  %li= t('intern', :count => @semester.interns.count)
  %li
    %p= @semester.matrlist

%ul.controls
  - if can? :update, @semester
    %li= link_to t('.edit'), edit_admin_semester_path(@semester)
  %li= link_to t('.viewall'), admin_semesters_path

