#user_nav
  %ul
    %li.first= link_to "Home", root_url
    - if user_signed_in?
      %li
        = "Hello #{current_user.name}. Not you?"
        =# link_to "Logout", destroy_session_path
      %li
        =# link_to "Edit Profile", edit_user_registration_path(current_user)
    - else
      %li
        = link_to "Login", "/auth/ldap"
    %li.last About

