- title "User"

%ul{:class => "scope horizontal"}
  - User::ROLES.each do |role|
    %li= link_to role.titleize.pluralize, params.merge(:with_role => role)
  %li= link_to "All", params.merge(:with_role => "")    # or link_to "All" admin_users_path
%ul.users
  - @users.each do |user|
    %li.user
      %ul{:class => 'user horizontal'}
        %li=user.email
        %li=user.roles.join(" ").titleize
        - if user.sheet
          %li=link_to "Sheet", sheet_path(user.sheet)
    %li=link_to "Edit #{user.email}", edit_admin_user_path(user)

=#link_to "Manage Interns", interns_admin_user_path
=#link_to "Manage Interns", interns_admin_user_path

